<p>drag-drop works!</p>

<!-- 
<div draggable="true" id="hONe"  (dragstart)="onDragStart($event)" style="height: 90px;width: 90px;background:lightcoral">
    <h1>Drag 1</h1>
</div>
<div draggable="true" id="hTwo" (dragover)="onDragOver($event)" (drop)="onDrop($event)" style="height:190px;width:190px;background:lightblue;">
    <h2>Drag 2</h2>
</div> -->




<table style="width:100%;border-collapse: collapse;" class="tba">
    <thead>
        <tr>
            <th *ngFor="let col of columns;let index = index" draggable="true" (dragstart)="onDrag(index)"
                (drop)="onDropTb(index)" (dragover)="onDragOver($event)">{{col.text}}</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let row of data">
            <td *ngFor="let col of columns">{{row[col.val]}}</td>
        </tr>
    </tbody>
</table>