<div class="full-h">
    <!------------------ Header of the Page  -->
    <h3 class="sub-heading" style="margin-bottom: 0;">Online Cources</h3>
    <span style="color: #777;">List of onlince cources are available for this year</span>
    <hr>
    <!-- ..End Page header -->
    <!------------------------- Table - Cources ------------------------- -->
    <table class="cus-table" *ngIf="cources">
        <thead>
            <tr>
                <th 
                    *ngFor="let col of columns;let index = index"
                    (click)="onSort(col.val ,isAssendingOrder?false:true)"
                    draggable="true"
                    (dragstart)="onDrag(index)"
                    (dragover)="onDragOver($event)"
                    (drop)="onDrop(index)">
                   <button class="material-icons reorder-icon">reorder</button> <span style="margin-left: 19px;"></span> 
                   {{col.text}}
                    <span class="material-icons sort-icon" *ngIf="activeSortColumn== col.val">{{!isAssendingOrder ?'keyboard_arrow_down':'keyboard_arrow_up'}} </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of cources">
                <td *ngFor="let col of columns">{{col.val == 'cost'?(row[col.val]|currency:'INR'): 
                (col.val=='startDate'?(row[col.val]|date):row[col.val])}}</td>
            </tr>
        </tbody>
    </table>
    <!-- ------- Component : Table pagination --------->
    <app-pagination *ngIf="backupCources?.length" [inputDataSource]="backupCources" (stepEmit)="onPagiEmit($event)">
    </app-pagination>

    <!-- ..ENd Table info -->

</div>