.css-pagi {
    margin: 10px 5px;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.css-pagi > label {
    font-size: 13px;
    color: gray;
}

.css-pagi > label > span {
    color: black;
}

.css-pagi > button {
    border: none;
    background-color: transparent;
}
.css-pagi > button > .material-icons {
    font-size: 28px;
    color: #717171;
}
.css-pagi select {
    height: 26px;
    width: 50px;
    text-align: center;
    padding: 0 5px;
    border-color: #c5c5c5;
    color: #777777;
}
