<div class="body-container">
  <!------------------------- Header --------------------------->
  <div>
    <header class="css-header">
      <h3 class="header-title">
        <span class="material-icons logo-align">group_add</span>
        <span>Student</span>
        <span>&nbsp;Blog</span>
      </h3>
    </header>
  </div>
  <!-- ...End Header -->

  <!---------------------- Page Content -------------------------------->
  <div class="sidenav-page-container">
    <nav style="flex-direction: columns; display: inline-flex">
      <br>
      <a routerLink="/grid" routerLinkActive="nav-active"> <i class="material-icons">table_chart</i> </a>
      <a routerLink="/chart" routerLinkActive="nav-active"> <i class="material-icons">pie_chart</i> </a>
    </nav>
    <div class="page-container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- ...End Page Content -->
</div>