

<div class="body-container">
<!------------------------- Header --------------------------->
  <div>
  <header class="css-header">
    <h3 class="header-title">
   <span class="material-icons logo-align">group_add</span>
   <span>Student</span>
   <span>&nbsp;Blog</span>
    </h3>
</header>
</div>
<!-- ...End Header -->

<!---------------------- Page Content -------------------------------->
<div class="page-container">
  <app-home></app-home>
  <!-- <app-drag-drop></app-drag-drop> -->
</div>
<!-- ...End Page Content -->
</div>
  